DB_UTILS:
pip install mysql-connector-python
import mysql.connector
from requests import delete
import datetime

APP:
from flask import Flask, jsonify, request
from requests import delete
from db_utils import get_all_food, get_all_reviews, delete_review_by_id

MAIN:
import requests
import json
import time